{% extends 'base_app/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/vehicle_listing.css' %}">
<style>
  #register_banner {
    background-color: #5cb85c;
    color: white;
  }

  .main-wrapper {
    padding: 0rem 2rem;
  }
</style>
{% endblock css %}

{% block content %}
<div class="d-flex flex-column h-100 main-wrapper">
  <form method="GET" class="d-flex justify-content-center my-4 mx-auto align-items-center col-7">
    <input type="text" name="search_query" class="form-control bg-white" value="{{ request.GET.search_query }}" placeholder="Search for vehicles">
   </form>
  <h2>Recommended Vehicles</h2>
  <div class="vehicle-list">
    {% for vh in vehicles %}
    <div class="vehicle-listing-card">
      <div class="vehicle-listing-card-image" style="background: url('{{ vh.vehicle_description_image.url}}');"></div>
      <div class="vehicle-listing-card-details-container d-flex flex-column justify-content-between">
        <div>
          <div class="vehicle-listing-card-details">
            <span class="vehicle-listing-card-title">{{ vh.vehicle_name }}</span>
            <div class="vehicle-listing-card-seat">4</div>
          </div>
          <p class="vehicle-listing-card-desc">{{ vh.vehicle_desc }}</p>
        </div>
        <div class="vehicle-listing-card-bottom-banner">Available</div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  {% if request.user.is_authenticated and not request.user.is_renter %}
  <div class="d-flex flex-column align-items-center my-5 py-4 bg-green" id="register_banner">
      <div class="banner">
        <h1 class="display-4">Register as a Rental Provider</h1>
        <p class="lead text-center">Join our platform and start providing rental services today!</p>
      </div>
      
      {% if is_already_requested %}
        <button class="btn btn-disabled" disabled="disabled">You have already sent a request!</button>
      {% else %}
        <a class="btn btn-success" href="{% url 'create_register_as_renter' %}">
          Register as a renter 
        </a>
      {% endif %}
      {% endif %}
    </div>
</div>
{% endblock content %}
