{% extends 'base_app/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block css %}
<style>
  #register_banner {
    background-color: #5cb85c;
    color: white;
  }

  .card {
    background-color: #f5f5f5;
    height: 20rem;
  }

  .main {
  }

  .card-img-top {
    height: 40%;
    object-fit: cover;
  }
  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .description {
    color: #888;
    font-size: 11px;
    height: 6rem;
    overflow-y: hidden;
  }
  .availability-bar {
    height: 20px;
    width: 100%;
    font-weight: bold;
  }

  .vehicle-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 1rem;
    padding: 0rem 2rem;
  }

  .vehicle-listing-card {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 7px 38px -19px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 7px 38px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 38px -19px rgba(0,0,0,0.75);
  }
  
  .vehicle-listing-card-details-container {
    height: calc(100% - 100px);
  }
  
  .vehicle-listing-card-image {
    min-height: 100px;
    background-position: center!important;
    background-repeat: none!important;
    background-size: cover!important;
  }

  .vehicle-listing-card-details {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .vehicle-listing-card-title {
    font-weight: bold;
    margin-left: 1rem;
  }

  .vehicle-listing-card-seat {
    background-color: #212121;
    padding: 0rem 2rem;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  .vehicle-listing-card-desc {
    font-size: 12px;
    color: #777;
    line-height: 15px;
    padding: 0rem 1rem;
    margin-top: 1rem;
  }

  .vehicle-listing-card-bottom-banner {
    color: white;
    background-color: #0f9d58;
    text-align: center;
    font-weight: bold;
  }
</style>
{% endblock css %}

{% block content %}
<div class="d-flex flex-column h-100 main">
  <form method="GET" class="d-flex justify-content-center my-4 mx-auto align-items-center">
    <h5>Search </h5>
    &nbsp;
    <input type="text" name="search_query" class="form-control bg-dark text-white" value="{{ request.GET.search_query }}">
  </form>
  <div class="vehicle-list">
    {% for vh in vehicles %}
    <div class="vehicle-listing-card">
      <div class="vehicle-listing-card-image" style="background: url('{{ vh.vehicle_description_image.url}}');"></div>
      <div class="vehicle-listing-card-details-container d-flex flex-column justify-content-between">
        <div>
          <div class="vehicle-listing-card-details">
            <span class="vehicle-listing-card-title">{{ vh.vehicle_name }}</span>
            <div class="vehicle-listing-card-seat">4</div>
          </div>
          <p class="vehicle-listing-card-desc">{{ vh.vehicle_desc }}</p>
        </div>
        <div class="vehicle-listing-card-bottom-banner">Available</div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  {% if request.user.is_authenticated and not request.user.is_renter %}
  <div class="d-flex flex-column align-items-center my-5 py-4 bg-green" id="register_banner">
      <div class="banner">
        <h1 class="display-4">Register as a Rental Provider</h1>
        <p class="lead text-center">Join our platform and start providing rental services today!</p>
      </div>
      
      {% if is_already_requested %}
        <button class="btn btn-disabled" disabled="disabled">You have already sent a request!</button>
      {% else %}
        <a class="btn btn-success" href="{% url 'create_register_as_renter' %}">
          Register as a renter 
        </a>
      {% endif %}
      {% endif %}
    </div>
</div>
{% endblock content %}
