{% extends 'base_app/base.html' %}

{% block css %}
<style>
.main-wrapper {
  height: calc(100vh - 36px);
}

.vehicle-list-item {
  height: 200px;
}

.vehicle-item-image-container {
  background-position: center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  border-radius: 10px;
}
</style>
{% endblock css %}

{% block content %}
<div class="main-wrapper col-12 d-flex">
  <div class="sidebar-container col-2 border-end">
    <ul class="list-group list-group-flush">
      <li class="list-group-item active" aria-current="true">Listed vehicles</li>
      <li class="list-group-item">My reviews</li>
    </ul>
  </div>
  <div class="content-container col-10">
    {% for vehicle in vehicles %}
    <div class="vehicle-list-item d-flex px-5 py-3 mx-3 gap-2">
      <div 
        style="background:url('{{ vehicle.vehicle_description_image.url }}');"
        class="vehicle-item-image-container col-5"
      >
        <!--
        <img 
          style="max-height: 200px;"
          src="{{ vehicle.vehicle_description_image.url }}" 
          alt="Vehicle List image">
        -->
      </div>
      <div class="vehicle-item-detail-container col-7">
        <strong>{{ vehicle.vehicle_name }}</strong>
        <br>
        <small>{{ vehicle.vehicle_desc }}</small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
