{% extends 'base_app/base.html' %}

{% block css %}
<style>
.main-wrapper {
  height: calc(100vh - 36px);
}

.vehicle-list-item {
  height: 200px;
}

.vehicle-item-image-container {
  background-position: center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  border-radius: 10px;
}

.vehicle-desc {
  display: flex;
  font-size: 12px;
  max-height: 100px;
  color: #000a;
  overflow: hidden;
}

.badge {
  position: absolute!important;
  top: -5px!important;
  right: -10px!important;
}
</style>
{% endblock css %}

{% block content %}
<div class="main-wrapper col-12 d-flex">
  <div class="sidebar-container col-2 border-end">
    <ul class="list-group list-group-flush">
      <li class="list-group-item active" aria-current="true">Listed vehicles</li>
      <li class="list-group-item">My reviews</li>
    </ul>
  </div>
  <div class="content-container col-10">
    {% for request_count , vehicle in vehicles_with_request_count %}
    <div class="vehicle-list-item d-flex flex px-5 py-3 mx-3 gap-2">
      <div 
        style="background:url('{{ vehicle.vehicle_description_image.url }}');"
        class="vehicle-item-image-container col-5"
      ></div>
      <div class="vehicle-item-detail-container col-7 d-flex flex-column justify-content-between">
        <div>
          <strong>{{ vehicle.vehicle_name }}</strong>
          <br>
          <small class="vehicle-desc">{{ vehicle.vehicle_desc }}</small>
        </div>
        <div class="col-12 d-flex gap-2 ">
            {% if not vehicle.can_be_listed %}
            <div class="col-8 btn btn-outline-secondary">
              Pending for admin review
            </div>
            {% else %}
            {% if vehicle.is_available %}
            <div class="col-8 btn btn-outline-success">
              Available for booking <i class="fa fa-check"></i>
            </div>
            {% else %}
              {% if vehicle.is_booked %}
                <div class="col-12 btn btn-outline-info">
                  Booked
                </div>
              {% else %}
                <div class="col-12 btn btn-outline-danger">
                  Not available
                </div>
              {% endif %}
            {% endif %}
            {% endif %}
          {% if vehicle.is_available %}
          <a href="{% url 'renter_dashboard_vehicle_request_list' vehicle.reference_id %}" class="col-4 btn btn-primary position-relative">
            Requests
            {% if request_count > 0 %}
            <span class="badge badge-pill badge-danger bg-danger">{{ request_count }}</span>
            {% endif %}
          </a>
          {% endif %}

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
