{% extends 'base_app/base.html' %}

{% block content %}
<h1>Notifications</h1>

{% for tr_status, nf in notifications %}
<div class="notifications d-flex justify-content-between mx-5 my-2 border px-3 py-1" data-datetime="{{ nf.data_generated_on|date:"c" }}">
  <div class="d-flex flex-column">
    <span>{{ nf.message }}</span>
    <small>{{ nf.desc }}</small>
  </div>
  <div class="d-flex gap-3 align-items-center">
    <div class="d-flex flex-end gap-3">
      {% if tr_status %}
      {% if tr_status == -1 %}
      <a href="#" class="btn btn-danger text-white d-flex align-items-center">
        <i class="fa fa-xmark"></i>
        &nbsp;
        DECLINED
      </a>
      {% endif %}
      {% if tr_status == 1 %}
      <a href="#" class="btn btn-success text-white d-flex align-items-center">
        <i class="fa fa-check"></i>
        &nbsp;
        COMPLETED
      </a>
      {% endif %}
      {% if tr_status == 2 %}
      <!--
      <a href="{% url 'transaction_request_respond' nf.related_transaction_request.reference_id %}" class="btn btn-primary text-white d-flex align-items-center">
        <i class="fa fa-circle-info"></i>
        &nbsp;
        view details 
      </a>
      -->
      <form action="{% url 'transaction_request_respond' nf.related_transaction_request.reference_id %}">
        <button 
          class="btn btn-primary text-white d-flex align-items-center"
        >
        <i class="fa fa-circle-info"></i>
        &nbsp;
        View details 
        </button>
      </form>
      {% endif %}
      {% endif %}
      <br>
    </div>
    <div class="d-flex flex-column justify-content-center output">
    </div>
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="notification_id" value="{{ nf.reference_id}}">
      <button type="submit" class="btn btn-danger">
        <i class="fa fa-trash"></i>
      </button>
    </form>
  </div>
</div>
{% empty %}
<h2>No Notifications for you.</h2>
{% endfor %}

{% endblock content %}

{% block scripts %}
  <script>
  const notifications = document.getElementsByClassName("notifications");
  for (notification_element of notifications) {
    const datetime = notification_element.dataset.datetime
    const output = notification_element.getElementsByClassName("output")[0]
    const timeDifferenceInWords = moment
      .utc(datetime)
      .local()
      .startOf("seconds")
      .fromNow();
    output.textContent = timeDifferenceInWords
  }
  </script>
{% endblock scripts %}
